input[type="text"] {
	border: 0px;
	padding: 14px 26px;
	background: #F1F1F1;
	border-radius: 20px;

	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #7A7177;
}
