#feature-top {
	&.feature-top_no-marg {
		margin: 0px!important;
		padding: 140px 0 100px 0;
	}
	@media (max-widtH: 991px) {
		margin-top: unset!important;
		padding-top: 80px!important;
	}
}
.second-services-content {
	h2 {
		a {
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			color: #2E2E2E;
			&:hover {
				text-decoration: none;
			}
		}
	}
	p {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		color: #2E2E2E;
	}
}
.services-two .s-single-services .btn2 {
	display: inline-flex;
	align-items: center;

	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;

	color: #F3525A;

	border-bottom: 1px solid transparent;

	&:hover {
		text-decoration: none;

		border-bottom: 1px solid #fff;
	}
}
.services-two .services-icon {
	margin: 0px;
}


.s-single-services {
	.services-icon {
		width: 100px;
		height: 100px;
		border-radius: 100%;
		background-color: #0641B0;

		display: flex;
		justify-content: center;
		align-items: center;
		svg {
			path {
				fill: #fff;
			}
		}
	}
	&.active {
		.services-icon {
			background-color: #fff;
			svg {
				path {
					fill: #002E5B;
				}
			}
		}
	}
}
