.info-area {
	padding: 70px 0;
	background-color: #F1F4FF;
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}
.info-area__img {
	position: absolute;
	top: 50%;
	right: 100%;
	transform: translate(50%, -50%);
	@media (max-width: 991px) {
		display: none;
	}
}
.info-area__wrapper {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
	min-height: 400px;
	padding: 30px 20px 30px 200px;

	h3 {
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 24px;
		color: #002E5B;
	}
	ol {
		padding-left: 20px;
		li {
			list-style: none;
			position: relative;
			margin-bottom: 15px;
			&:before {
				position: absolute;
				left: -20px;
				top: 7px;
				display: block;
				content: "";
				border-radius: 100%;
				width: 10px;
				height: 10px;
				background-color: #002E5B;
			}
		}
	}
	p {
		font-family: Gilroy;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 16px;

		color: #000000;
	}
	@media (max-width: 991px) {
		padding-left: 20px;
	}
}
