.btn-modal {
	font-family: Gilroy;

	background: #f3525a;
	padding: 16px 10px;
	width: 100%;
	max-width: 210px;
	float: left;
	text-align: center;
	color: #fff;

	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	&:hover {
		text-decoration: none;
		color: #002E5B;
	}
}

.slider-btn .btn,
.btn {
	border: 0px;
	background: linear-gradient(180deg, #19AEC3 0%, #053EAF 100%);
	border-radius: 0px 20px 20px 20px;

	padding: 18px 60px;

	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;

	transition: 0.3s;

	&:hover {
		background: #fff;
		color: #002E5B;
		transition: 0.3s;
	}
}
