.step-area {
	padding: 80px 0px;
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}

.step-area__item {
	position: relative;
	&:after {
		position: absolute;
		left: 0px;
		top: 0px;

		display: block;

		font-family: Gilroy;
		font-style: normal;
		font-weight: 900;
		font-size: 64px;
		line-height: 80px;
		color: rgba(0, 46, 91, 0.3);
	}

	h3 {
		padding-top: 46px;
		padding-left: 18px;

		font-family: Gilroy;
		font-style: normal;
		font-weight: 900;
		font-size: 16px;
		line-height: 20px;
		color: #000000;
		padding-bottom: 10px;
		margin: 0px;
	}
	p {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;

		color: #000000;
	}

	&.step-area__item_1 {
		&:after {
			content: "1";
		}
	}
	&.step-area__item_2 {
		&:after {
			content: "2";
		}
	}
	&.step-area__item_3 {
		&:after {
			content: "3";
		}
	}
	&.step-area__item_4 {
		&:after {
			content: "4";
		}
	}
	&.step-area__item_5 {
		&:after {
			content: "5";
		}
	}
}
