<section id="about" class="about-area about-p pt-55  p-relative">
	<div class="container">
		<div class="row align-items-start">
			<div class="col-12 col-lg-6 order-2 order-lg-1">
				<div class="about-content s-about-content">
					<div class="about-title second-atitle">
						<h2>Мы помогаем в получении кредита на выгодных условиях с нихкой процентной ставкой</h2>
					</div>
					ul(class="m-0 pl-lg-4 pb-4")
						li(class="mb-2")
							| Анализ документов
						li(class="mb-2")
							| Скорректируем кредитную историю
						li(class="mb-2")
							| Скорректируем кредитную историю
						li(class="mb-2")
							| Скорректируем кредитную историю
						li(class="mb-2")
							| Скорректируем кредитную историю
						li
							| Скорректируем кредитную историю
					<div class="ab-coutner d-flex flex-column flex-lg-row align-items-start">
						<div class="single-counter pr-4">
							<div class="counter p-relative">
								<span class="count">30</span><small>+</small>
							</div>
							<p>Банков партнеров</p>
						</div>
						<div class="single-counter pr-4">
							<div class="counter p-relative">
								<span class="count">6789</span><small>+</small>
							</div>
							<p>Выданных кредитов</p>
						</div>
						<div class="single-counter ">
							<div class="counter p-relative">
								<span class="count">20</span><small>+</small>
							</div>
							<p>Лет на рынке</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-6 order-1 order-lg-2 pb-5 pb-lg-0">
				<div class="s-about-img p-relative pl-80">
					<img class="lazyload" data-src="images/about_img.jpg" alt="img">
				</div>
				<div class="sinature-box">
					<h2>Комиссия выплачивается после получения денежных средств в Банке.</h2>
				</div>
			</div>
		</div>
	</div>
</section>
