div(class="advantage-area")
	div(class="container")
		div(class="row pb-5")
			div(class="col-12 d-flex flex-column justify-content-center")
				h2(class="text-center")
					| Преимущества работы с нами
				img(class="lazyload" data-src="images/line.svg" alt="img")
		div(class="row")
			div(class="col-12 col-lg-4 mb-5")
				div(class="advantage-area__item")
					img(class="lazyload mb-3" data-src="images/insurance 1.svg" alt="img")
					h3
						| Нет скрытых комиссий и<br>страховок
					p(class="px-4")
						| Отменим обязательное страхование кредита, либо вернем деньги за страховку, что сэкономит Вам до 30% от всей суммы кредита
			div(class="col-12 col-lg-4 mb-5")
				div(class="advantage-area__item")
					img(class="lazyload mb-3" data-src="images/family 1.svg" alt="img")
					h3
						| Помогаем всем <br>в получении
					p(class="px-4")
						| Поможем получить кредит безработным, без справок о доходах и с любой кредитной историей
			div(class="col-12 col-lg-4 mb-5")
				div(class="advantage-area__item")
					img(class="lazyload mb-3" data-src="images/warranty 1.svg" alt="img")
					h3
						| Гарантия получения<br>кредита
					p(class="px-4")
						| Гарантируем одобрение кредита в банке Москвы. Наши менеджеры будут сопровождать Вас от начала и до самого получения кредита
			div(class="col-12 col-lg-4 mb-5")
				div(class="advantage-area__item")
					img(class="lazyload mb-3" data-src="images/online-payment 1.svg" alt="img")
					h3
						| Без предоплаты
					p(class="px-4")
						| Мы не берем никаких предоплат и скрытых комиссий. Оплата нашей работы только после получения Вами кредита на руки
			div(class="col-12 col-lg-4 mb-5")
				div(class="advantage-area__item")
					img(class="lazyload mb-3" data-src="images/money 1.svg" alt="img")
					h3
						| Работа бесплатно
					p(class="px-4")
						| Если по каким либо причинам нам не удалось Вам помочь, то вся наша работа будет для Вас абсолютно БЕСПЛАТНОЙ
			div(class="col-12 col-lg-4 mb-5")
				div(class="advantage-area__item")
					img(class="lazyload mb-3" data-src="images/real-estate (1) 1.svg" alt="img")
					h3
						| Кредит на любые цели
					p(class="px-4")
						| Одобрим кредит на любые цели от 500 000 до 500 000 000 рублей физическим и юридическим лицам
