div(class="breadcrumb-area")
	div(class="container")
		div(class="row")
			div(class="col-12 col-lg-7")
				h1(class="pb-5")
					= BreadcrumbTitle
				<nav aria-label="breadcrumb" >
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">главная</a></li>
						<li class="breadcrumb-item active" aria-current="page">контакты</li>
					</ol>
				</nav>
