section(class="calculator-area")
	div(class="container")
		div(class="row pb-5")
			div(class="col-12 d-flex flex-column align-items-center")
				h2(class="text-center")
					| Калькулятор кредита
				img(class="lazyload" data-src="images/line.svg" alt="img")
		div(class="row align-items-lg-center")
			div(class="col-12 col-lg-6 d-none d-lg-block")
				img(class="lazyload calculator-area__img" data-src="images/calculator.png" alt="img")
			div(class="col-12 col-lg-6")
				form()
					div(class="row pb-5")
						div(class="col-lg-4 pb-4 pb-lg-0")
							div(class="calculator__item")
								span(class="calculator__title")
									| Сумма кредита
								input(type="text" id="amountSum" readonly class="mb-3 w-100")
								div(id="sliderSum")
						div(class="col-lg-4 pb-4 pb-lg-0")
							div(class="calculator__item")
								span(class="calculator__title")
									| Срок кредита
								input(type="text" id="amountDate" readonly class="mb-3 w-100")
								div(id="sliderDate")
						div(class="col-lg-4")
							div(class="calculator__item")
								span(class="calculator__title")
									| Ставка, %
								input(type="text" id="amountPrecent" readonly class="mb-3 w-100")
								div(id="sliderPrecent")
					div(class="row")
						div(class="col-12 col-lg-6 pb-5 pb-lg-0")
							div(class="calculate__result")
								span(class="calculate__result-title")
									| Ежемесячный платеж
								div(class="calculate__result-count")
									| 12 667,58 ₽
						div(class="col-12 col-lg-6 d-flex d-lg-block justify-content-center")
							button(type="submit" class="btn" )
								| Оставить заявку
