<footer class="footer-bg footer-p">
	<div class="footer-top-heiding">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12 col-lg-6 pr-lg-0">
					<div class="section-title">
						<h2>Мы поможем подобрать для Вас лучшие условия по кредиту</h2>
					</div>
				</div>
				<div class="col-12 d-flex justify-content-center d-lg-block col-lg-4 offset-lg-2">
					<a href="#" class="btn-modal" data-toggle="modal" data-target="#request">Подать заявку на кредит</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-3">
					<div class="footer-widget mb-30 ">
						<div class="f-widget-title  d-flex justify-content-start">
							<h2>Контакты</h2>
						</div>
						<div class="footer-link">
							<div class="f-contact">
								div(class="f-contact__item d-flex align-items-center mb-3")
									<i class="fas fa-phone-volume"></i>
									span(class="d-flex flex-column")
										a(href="tel:+78000000000")
											| +7 800 000-00-00
										a(href="tel:+78000000000")
											| +7 800 000-00-00
								div(class="f-contact__item d-flex align-items-center mb-3")
									<i class="far fa-envelope"></i>
									<span>
										<a href="mailto:info@mail.ru">info@mail.ru</a><br>
										<a href="mailto:info@gmail.com">info@gmail.com</a>
									</span>
								div(class="f-contact__item d-flex align-items-center")
									<i class="fal fa-map-marker-alt"></i>
									<span>Москва, ул. Ленина 1<br>офис 1</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-9 d-none d-lg-block">
					<div class="footer-widget mb-30">
						div(class="row")
							div(class="col-12 d-flex justify-content-start")
								<div class="f-widget-title">
									<h2>Информация</h2>
								</div>
						div(class="row")
							div(class="col-12 col-lg-4")
								<div class="footer-link">
									<ul>
										<li><a href="#">Кредит наличными</a></li>
										<li><a href="#">Кредит под залог земельного участка</a></li>
										<li><a href="#">Кредит под залог таунхауса</a></li>
										<li><a href="#">Кредит под залог апартаментов</a></li>
										<li><a href="#">Потребительский кредит наличными</a></li>
										<li><a href="#">Кредит под залог ПТС</a></li>
										<li><a href="#">Кредит под залог автомобиля</a></li>
										<li><a href="#">Кредит наличными</a></li>
									</ul>
								</div>
							div(class="col-12 col-lg-4")
								<div class="footer-link">
									<ul>
										<li><a href="#">Кредит наличными</a></li>
										<li><a href="#">Кредит наличными</a></li>
										<li><a href="#">Кредит наличными</a></li>
										<li><a href="#">Кредит наличными</a></li>
										<li><a href="#">Кредит наличными</a></li>
										<li><a href="#">Кредит наличными</a></li>
										<li><a href="#">Кредит наличными</a></li>
										<li><a href="#">Кредит наличными</a></li>
									</ul>
								</div>
							div(class="col-12 col-lg-4")
								<div class="footer-link">
									<ul>
										<li><a href="#">Кредит наличными</a></li>
										<li><a href="#">Кредит наличными</a></li>
										<li><a href="#">Кредит наличными</a></li>
										<li><a href="#">Кредит наличными</a></li>
										<li><a href="#">Кредит наличными</a></li>
										<li><a href="#">Кредит наличными</a></li>
										<li><a href="#">Кредит наличными</a></li>
										<li><a href="#">Кредит наличными</a></li>
									</ul>
								</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright-wrap">
		<div class="container">
			<div class="row align-items-center justify-content-center justify-content-lg-between">
				<div class="col-12 col-lg-7 text-center text-lg-left">2020 iqcredit - финансовые услуги</div>
				<div class="col-12 col-lg-4 pt-3 pt-lg-0 d-flex justify-content-center justify-content-lg-end">
					a(href="https://deksis.ru" class="deksis")
						| Разработка сайта
						img(class="lazyload pl-3" data-src="images/deksis.png" alt="img")
				</div>
			</div>
		</div>
	</div>
</footer>
