<header class="header-area">
	<div class="header-top second-header d-none d-md-block">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-8 d-none  d-md-block">
					<div class="header-cta">
						<ul>
							li()
								a(href="#")
									| о компании
							li()
								a(href="#")
									| сотрудничество
							li()
								a(href="#")
									| Контакты
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 d-none d-lg-block">
					<div class="header-social d-flex justify-content-end align-items-center">
						<a href="#" title="intagram">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M16.5 0H7.5C3.3585 0 0 3.3585 0 7.5V16.5C0 20.6415 3.3585 24 7.5 24H16.5C20.6415 24 24 20.6415 24 16.5V7.5C24 3.3585 20.6415 0 16.5 0ZM21.75 16.5C21.75 19.395 19.395 21.75 16.5 21.75H7.5C4.605 21.75 2.25 19.395 2.25 16.5V7.5C2.25 4.605 4.605 2.25 7.5 2.25H16.5C19.395 2.25 21.75 4.605 21.75 7.5V16.5Z" fill="#002E5B"/>
								<path d="M12 6C8.6865 6 6 8.6865 6 12C6 15.3135 8.6865 18 12 18C15.3135 18 18 15.3135 18 12C18 8.6865 15.3135 6 12 6ZM12 15.75C9.933 15.75 8.25 14.067 8.25 12C8.25 9.9315 9.933 8.25 12 8.25C14.067 8.25 15.75 9.9315 15.75 12C15.75 14.067 14.067 15.75 12 15.75Z" fill="#002E5B"/>
								<path d="M18.45 6.3495C18.8916 6.3495 19.2495 5.99155 19.2495 5.55C19.2495 5.10845 18.8916 4.7505 18.45 4.7505C18.0085 4.7505 17.6505 5.10845 17.6505 5.55C17.6505 5.99155 18.0085 6.3495 18.45 6.3495Z" fill="#002E5B"/>
							</svg>
						</a>
						<a href="#" title="vk">
						<svg width="24" height="15" viewBox="0 0 24 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.145 15C15.617 15 14.379 12.802 14.647 12.17C14.643 11.698 14.639 11.244 14.655 10.968C14.875 11.03 15.394 11.293 16.466 12.335C18.121 14.005 18.544 15 19.881 15H22.342C23.122 15 23.528 14.677 23.731 14.406C23.927 14.144 24.119 13.684 23.909 12.968C23.36 11.244 20.158 8.267 19.959 7.953C19.989 7.895 20.037 7.818 20.062 7.778H20.06C20.692 6.943 23.104 3.329 23.459 1.883C23.46 1.881 23.461 1.878 23.461 1.875C23.653 1.215 23.477 0.787 23.295 0.545C23.021 0.183 22.585 0 21.996 0H19.535C18.711 0 18.086 0.415 17.77 1.172C17.241 2.517 15.755 5.283 14.641 6.262C14.607 4.875 14.63 3.816 14.648 3.029C14.684 1.494 14.8 0 13.207 0H9.339C8.341 0 7.386 1.09 8.42 2.384C9.324 3.518 8.745 4.15 8.94 7.296C8.18 6.481 6.828 4.28 5.872 1.467C5.604 0.706 5.198 0.000999927 4.055 0.000999927H1.594C0.596 0.000999927 0 0.545 0 1.456C0 3.502 4.529 15 12.145 15ZM4.055 1.501C4.272 1.501 4.294 1.501 4.455 1.958C5.434 4.841 7.63 9.107 9.234 9.107C10.439 9.107 10.439 7.872 10.439 7.407L10.438 3.705C10.372 2.48 9.926 1.87 9.633 1.5L13.141 1.504C13.143 1.521 13.121 5.599 13.151 6.587C13.151 7.99 14.265 8.794 16.004 7.034C17.839 4.963 19.108 1.867 19.159 1.741C19.234 1.561 19.299 1.5 19.535 1.5H21.996H22.006C22.005 1.503 22.005 1.506 22.004 1.509C21.779 2.559 19.558 5.905 18.815 6.944C18.803 6.96 18.792 6.977 18.781 6.994C18.454 7.528 18.188 8.118 18.826 8.948H18.827C18.885 9.018 19.036 9.182 19.256 9.41C19.94 10.116 22.286 12.53 22.494 13.49C22.356 13.512 22.206 13.496 19.881 13.501C19.386 13.501 18.999 12.761 17.522 11.271C16.194 9.979 15.332 9.451 14.547 9.451C13.023 9.451 13.134 10.688 13.148 12.184C13.153 13.806 13.143 13.293 13.154 13.395C13.065 13.43 12.81 13.5 12.145 13.5C5.8 13.5 1.668 3.429 1.509 1.504C1.564 1.499 2.321 1.502 4.055 1.501Z" fill="#002E5B"/>
						</svg>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-4 d-none d-md-block">
					<a href="#" class="btn-modal" data-toggle="modal" data-target="#request">Подать заявку на кредит</a>
				</div>
			</div>
		</div>
	</div>
	<div id="header-sticky" class="menu-area ">
		div(class="position-relative")
			<div class="container">
				<div class="second-menu">
					<div class="row align-items-center ">
						<div class="logo">
							<a href="#"><img class="lazyload" data-src="images/logo.svg" alt="logo"></a>
						</div>
						<div class="col-12">
							<div class="responsive burger" ><span></span></div>
							<div class="main-menu text-right text-xl-right">
								<nav id="mobile-menu">
									<ul>
										<li><a href="#">Кредит<br>наличными</a></li>
										<li><a href="#">Кредит под залог<br>недвижимости</a></li>
										<li><a href="#">Кредит под залог<br>автомобиля</a></li>
										<li><a href="#">Рефинансирование</a></li>
										<li><a href="#">Ипотека</a></li>
										<li><a href="#">Кредит для<br>бизнеса</a></li>
										<li><a href="#">Помощь в<br>кредите</a></li>
									</ul>
								</nav>
							</div>
						</div>
						<div class="right-menu">
							a(href="tel:88002000600")
								<div class="icon d-none d-lg-block">
									<img class="lazyload" data-src="images/phone.svg" alt="top-m-icon.png">
								</div>
								<div class="text">
									<span class="d-none d-lg-block">Пн - Пт: 9.00 - 18.00</span>
									<strong>8 800 2000 600</strong>
								</div>
						</div>
					</div>
				</div>
			</div>
	</div>
</header>
