div(class="help-area")
	div(class='container')
		div(class="row pb-5")
			div(class="col-12  d-flex flex-column align-items-center")
				h2(class="text-center")
					| Помощь в получении кредита
				img(class="lazyload" data-src="images/line.svg" alt="img")
		div(class="row")
			div(class="col-12")
				p
					|  Финансовые проблемы возникают практически у каждого человека. Если решить их необходимо максимально оперативно, стоит задуматься о системе кредитования или займе. Собственники автомобиля находятся в выигрышном положении, поскольку могут использовать такое имущества в качестве залогового. Кредит под залог автомобиля банки выдают гораздо охотнее, чем неподтвержденные займы, да и сумма ссуды в таком случае больше. Кроме банков, подобные кредиты предоставляют автоломбарды. Однако условия кредитования в подобных организациях хуже, а зачастую транспортное средство приходится оставлять на стоянке ломбарда до тех пор, пока кредит не будет погашен.
				p
					| Если вам необходим кредит под залог автомобиля в Москве, есть два выхода из этой ситуации. В первом случае вы самостоятельно готовите пакет документов и подаете заявку в банк. При таком подходе повышается риск отказа – из-за неправильно подготовленных документов, наличия проблем в истории заемщика.
