div(class="info-area")
	div(class="container")
		div(class="row pb-5")
			div(class="col-12  d-flex flex-column align-items-center")
				h2(class="text-center")
					| Документы и условия
				img(class="lazyload" data-src="images/line.svg" alt="img")
		div(class="row")
			div(class="col-12 col-lg-10 position-relative offset-lg-2")
				img(class="lazyload info-area__img" data-src="images/fs 1.png" alt="img")
				div(class="info-area__wrapper")
					div(class="row")
						div(class="col-12 col-lg-6 pb-5 pb-lg-0")
							h3
								| Требования:
							ol()
								li
									| Возраст от 21 до 75 лет.
								li
									| Гражданство РФ
								li
									| Наличие в собственности автомобиля
								li
									| Иномарки - не старше 30 лет
								li
									| Отечественные - не старше 15 лет
								li
									| Спецтехника - без ограничения
						div(class="col-12 col-lg-6")
							h3
								| Документы*:
							ol()
								li
									| Паспорт, СНИЛС 
								li
									| Свидетельство на транспортное средство (СТС)
								li
									| Паспорт транспортного средства (ПТС)
								li
									| Водительское удостоверение
								li
									|Фото автомобиля
					div(class="row")
						div(class="col-12 col-lg-6 offset-lg-6")
							p
								| *Может потребоваться дополнительный пакет документов в зависимости от банка
					
				
