<section id="blog" class="blog-area news-area p-relative fix">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-8 col-lg-10">
				<div class="section-title text-center mb-80">
					<h2>Новости и статьи компании</h2>
					<img class="lazyload" data-src="images/line.svg">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-12">
				<div class="single-post mb-30 ">
					<div class="blog-thumb">
						<a href="blog-details.html">
							<img class="lazyload" data-src="images/inner_b1.jpg" alt="img">
						</a>
						<div class="b-meta">
							<div class="row">
								<div class="col-12"><i class="far fa-calendar-alt"></i>13.07.2020</div>
							</div>
						</div>
					</div>
					<div class="blog-content text-center">
						<h3>
							<a href="#">Перекредитование: плюсы и минусы</a>
						</h3>
						<div class="blog-btn">
							<a href="#">Подробнее<i class="fas fa-chevron-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-12">
				<div class="single-post mb-30 ">
					<div class="blog-thumb">
						<a href="blog-details.html">
							<img class="lazyload" data-src="images/inner_b2.jpg" alt="img">
						</a>
						<div class="b-meta">
							<div class="row">
								<div class="col-12"><i class="far fa-calendar-alt"></i>11.07.2020</div>
							</div>
						</div>
					</div>
					<div class="blog-content text-center">
						<h3>
							<a href="#">Зачем банки обращают внимание на кредитную историю?</a>
						</h3>
						<div class="blog-btn">
							<a href="#">Подробнее<i class="fas fa-chevron-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-12">
				<div class="single-post mb-30 ">
					<div class="blog-thumb">
						<a href="blog-details.html">
							<img class="lazyload" data-src="images/inner_b3.jpg" alt="img">
						</a>
						<div class="b-meta">
							<div class="row">
								<div class="col-12"><i class="far fa-calendar-alt"></i>09.07.2020</div>
							</div>
						</div>
					</div>
					<div class="blog-content text-center">
						<h3>
							<a href="#">Как получить займ без официального места работы?</a>
						</h3>
						<div class="blog-btn">
							<a href="#">Подробнее<i class="fas fa-chevron-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
