section(class="request-area")
	div(class="container")
		div(class="row align-items-lg-center")
			div(class="col-12 col-lg-5 offset-lg-1")
				h2(class="text-white mb-4")
					| Остались вопросы?
				p(class="text-white pb-4")
					| Оставьте свой номер телефона и мы дадим вам полную и развернутую консультацию
			div(class="col-12 col-lg-5")
				form(class="d-flex align-items-start" action="" method="POST")
					input(type="text" placeholder="+7 495 000 00 00")
					button(type="submit")
						| Отправить
