div(class="step-area")
	div(class="container")
		div(class="row pb-5")
			div(class="col-12 d-flex flex-column align-items-center")
				h2(class="text-center")
					| Процесс получения одобрения
				img(class="lazyload" data-src="images/line.svg" alt="img")
		div(class="row")
			div(class="col-6 col-lg-2 offset-lg-1")
				div(class="step-area__item step-area__item_1")
					h3
						| оставляете заявку
					p
						| По телефону или на сайте
			div(class="col-6 col-lg-2")
				div(class="step-area__item step-area__item_2")
					h3
						| консультируем
					p
						| Мы бесплатно консультируем Вас по телефону
			div(class="col-6 col-lg-2")
				div(class="step-area__item step-area__item_3")
					h3
						| договор
					p
						| Заключаем договор в нашем офисе
			div(class="col-6 col-lg-2 ")
				div(class="step-area__item step-area__item_4")
					h3
						| получение денег
					p
						| Вы получаете наличные в банке
			div(class="col-6 col-lg-2")
				div(class="step-area__item step-area__item_5")
					h3
						| оплата услуг
					p
						| Оплачиваете нам комиссию согласно договора
