<section id="team" class="team-area">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-8 col-lg-10">
				<div class="section-title text-center pl-40 pr-40 mb-80">
					<h2>Наши лучшие специалисты</h2>
					<img class="lazyload" data-src="images/line.svg" alt="img">
				</div>
			</div>
		</div>
		<div class="team-active">
			<div class="single-team text-center mb-30 ">
				<div class="team-thumb">
					<div class="brd">
						<img class="lazyload" data-src="images/team_img01.jpg" alt="img">
					</div>
				</div>
				<div class="team-info">
					<h3 class="team__title">Иван Иванов</h3>
					<span>РУКОВОДИТЕЛЬ</span>
					<div class="team-social mt-15">
						<p>Тут описание.</p>
						<a href="#"><i class="fab fa-facebook-f"></i></a>
						<a href="#"><i class="fab fa-twitter"></i></a>
						<a href="#"><i class="fab fa-instagram"></i></a>
					</div>
				</div>
			</div>
			<div class="single-team text-center mb-30 ">
				<div class="team-thumb">
					<div class="brd">
						<img class="lazyload" data-src="images/team_img04.jpg" alt="img">
					</div>
				</div>
				<div class="team-info">
					<h3 class="team__title">Анна Петрова</h3>
					<span>СПЕЦИАЛИСТ</span>
					<div class="team-social mt-15">
						<p>Тут описание.</p>
						<a href="#"><i class="fab fa-facebook-f"></i></a>
						<a href="#"><i class="fab fa-twitter"></i></a>
						<a href="#"><i class="fab fa-instagram"></i></a>
					</div>
				</div>
			</div>
			<div class="single-team text-center mb-30 ">
				<div class="team-thumb">
					<div class="brd">
						<img class="lazyload" data-src="images/team_img03.jpg" alt="img">
					</div>
				</div>
				<div class="team-info">
					<h3 class="team__title">Денис Сергеев</h3>
					<span>СПЕЦИАЛИСТ</span>
					<div class="team-social mt-15">
						<p>Тут описание.</p>
						<a href="#"><i class="fab fa-facebook-f"></i></a>
						<a href="#"><i class="fab fa-twitter"></i></a>
						<a href="#"><i class="fab fa-instagram"></i></a>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>
