.footer-bg {
	background-image: url("../images/footer_bg.png");
	padding-top: 80px;
	@media (max-width: 991px) {
		padding-top: 20px;
		background-size: cover;
		background-position: center center;
	}
}
.footer-top {
	padding-bottom: 70px;
	@media (max-width: 991px) {
		padding-bottom: 50px;
	}
}
.footer-top-heiding {
	h2 {
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 44px;

		color: #FFFFFF;
		margin: 0px;
		@media (max-width: 991px) {
			font-size: 24px;
			line-height: 29px;
			padding-bottom: 30px;
		}
	}
}

.footer-top-heiding .container {
	padding-bottom: 40px;
	margin-bottom: 50px;
}
.f-contact__item  {
	a {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		color: #FFFFFF;
		&:hover {
			padding-left: 5px;
			color: #f3525a;
		}
	}
}

.footer-link {
	ul {
		margin: 0px;
		li {
			margin: 0px;
			a {
				font-family: Gilroy;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 16px;

				color: #FFFFFF;
				margin-bottom: 15px;
			}
		}
	}

}
.deksis {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	&:hover {
		transform: translateX(10px);
		color: #f3525a;
	}
}
.copyright-wrap {
	background: #002E5B;

	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;

	color: #FFFFFF;

	padding: 14px 0px;
	@media (max-width: 991px) {
		padding: 19px 0 30px 0px;
	}
}
.f-widget-title {
	h2 {
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #FFFFFF;
		padding-bottom: 23px;
		border-bottom: 2px solid #F3525A;
		margin-bottom: 30px;
	}
}
