.about-area {
	padding: 70px 0 100px 0px;
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}
.about-title {
	h2 {
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 44px;
		color: #242F51;
		margin: 0px;
		padding-bottom: 40px;
		@media (max-width: 991px) {
			font-size: 24px;
			line-height: 29px;
		}
	}
}
.about-content {
	ul {
		li {
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 21px;
			color: #000000;
		}
	}
}
.pl-80 {
	padding-left: 80px;;
}
.sinature-box {
	background: #0643B0;
	max-width: 370px;
	width: 100%;
	padding: 60px 50px;
	h2 {
		padding: 0px;
		margin: 0px;

		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #FFFFFF;
	}
}
.count, .counter small {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 100%;
	color: #F3525A;
	margin: 0px;
}
.ab-coutner .single-counter p {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 100%;
	color: #2E2E2E;
	@media (max-width: 991px) {
		padding-top: 12px;
	}
}
.s-about-img {
	@media (max-width: 991px) {
		margin-top: 0px;
	}
}
