.breadcrumb-area {
	min-height: 240px;
	padding-top: 70px;
	padding-bottom: 70px;
	background: url("../images/breadcrumb.jpg") center center no-repeat;
	background-size: cover;
	position: relative;
	&.breadcrumb-area_rare {
		padding-top: 0px;
		padding-bottom: 0px;
		.container {
			padding-top: 70px;
			padding-bottom: 70px;
			min-height: 240px;
		}
	}

	@media (max-width: 991px) {
		padding-top: 50px;
		padding-bottom: 50px;
		&.breadcrumb-area_rare {
			padding-top: 0px;
			padding-bottom: 0px;
			.container {
				padding-top: 50px;
				padding-bottom: 50px;
			}
		}
	}

	.breadcrumb {
		padding: 0px;
		margin: 0px;
		background: none;
		li {
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			color: #FFFFFF;
			a {
				font-family: Gilroy;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 16px;
				color: #FFFFFF;
			}
		}
	}
	.breadcrumb-area__preview-img {
		position: absolute;
		right: 15px;
		bottom: 0px;
	}
}
.breadcrumb-item+.breadcrumb-item::before {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	padding: 0 4px;
}
.breadcrumb-item+.breadcrumb-item {
	padding: 0px;
}
