extends base.pug
block content
		- BreadcrumbTitle = "О компании"
		include components/breadcrumb-area.pug
		include components/about-area.pug
		include components/team-area.pug
		<div class="brand-area" style="background-color:#fff">
			<div class="container">
				div(class="row pb-5")
					div(class="col-12 d-flex flex-column align-items-center")
						h2
							| Банки партнеры
						img(class="lazyload" data-src="images/line.svg" alt="img")
				div(class="row")
					div(class="col-12")
						<div class="brand-active">
							<div>
								<div class="single-brand">
									<img class="lazyload" data-src="images/rosbank_logo_en_183_auto_jpg_5_80 1.png" alt="img">
								</div>
							</div>
							<div>
								<div class="single-brand">
									<img class="lazyload" data-src="images/promsv1_183_auto_png_5_80 1.png" alt="img">
								</div>
							</div>
							<div>
								<div class="single-brand">
									<img class="lazyload" data-src="images/c25ce02645386cd32a104801f93bb466_183_auto_jpg_5_80 1.png" alt="img">
								</div>
							</div>
							<div>
								<div class="single-brand">
									<img class="lazyload" data-src="images/alfa-bank-500x400_183_auto_png_5_80 1.png" alt="img">
								</div>
							</div>
							<div>
								<div class="single-brand">
									<img class="lazyload" data-src="images/c116a326544791_56356d732ac48_183_auto_jpg_5_80 1.png" alt="img">
								</div>
							</div>
						</div>
			</div>
		</div>
		div(class="license")
			div(class="container")
				div(class="row pb-5")
					div(class="col-12 d-flex flex-column align-items-center")
						h2
							| Лицензии и сертификаты
						img(class="lazyload" data-src="images/line.svg" alt="img")
				div(class="row")
					div(class="col-12")
						div(class="license-slider")
							-for (var i = 0; i < 7; i++)
								a(data-fancybox="gallery" href="images/certs_thumb12833 3.png")
									img(class="lazyload" data-src="images/certs_thumb12833 3.png" alt="img")
		include components/advantage-area.pug
		include components/step-area.pug
		include components/request-area.pug
		include components/help-area.pug
						
	
