doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="font-flaticon/flaticon.css")
		link(rel="stylesheet" href="css/template/fontawesome/css/all.min.css")
		link(rel="stylesheet" href="css/main.min.css")

		link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
		title Project
	body
		include components/header.pug
		main()
			block content
		include components/footer.pug
			
		<!-- Modal -->
		<div class="modal fade" id="request" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="request" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h2 class="modal-title" id="requestLabel">Отправить заявку</h2>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<input class="mb-3 w-100" type="text" placeholder="Имя">
							<input class="mb-3 w-100" type="text" placeholder="Телефон">
							<input class="mb-3 w-100" type="text" placeholder="Почта">
							<p class="text-center">*Нажимая на кнопку "отправить" вы соглашаетесь с <a href="#">политикой обработки персональных данных.</a></p>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary">Отправить</button>
							</div>
						</form>
					</div>
					
				</div>
			</div>
		</div>
		script(src="js/main.min.js")
