extends base.pug
block content
		- BreadcrumbTitle = "Контакты"
		include components/breadcrumb-area.pug
		div(class="container py-5")
			div(class="row pb-5 map align-items-center")
				div(class="col-12 col-lg-6 pb-5 pb-lg-0")
					h2(class="pb-4")
						| Контактная информация
					<div class="footer-link">
						<div class="f-contact">
							div(class="f-contact__item d-flex align-items-center mb-3")
								<i class="fas fa-phone-volume"></i>
								span(class="d-flex flex-column")
									a(href="tel:+78000000000")
										| +7 800 000-00-00
									a(href="tel:+78000000000")
										| +7 800 000-00-00
							div(class="f-contact__item d-flex align-items-center mb-3")
								<i class="far fa-envelope"></i>
								<span>
									<a href="mailto:info@mail.ru">info@mail.ru</a><br>
									<a href="mailto:info@gmail.com">info@gmail.com</a>
								</span>
							div(class="f-contact__item d-flex align-items-center")
								<i class="fal fa-map-marker-alt"></i>
								<span>Москва, ул. Ленина 1<br>офис 1</span>
						</div>
					</div>
				div(class="col-12 col-lg-6")
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11357.035369555862!2d37.19659552831014!3d55.61034503339278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b556dedd0efbc1%3A0x3511c75f36885b52!2z0YPQuy4g0JvQtdC90LjQvdCwLCAxLCAxLCDQnNC-0YHQutCy0LAsIDE0MzM1MA!5e0!3m2!1sru!2sru!4v1595812689522!5m2!1sru!2sru" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
		div(class=" requisites")
			div(class="container")
				div(class="row pb-5")
					div(class="col-12 d-flex flex-column justify-content-center")
						h2(class="text-center")
							| Реквизиты
						img(class="lazyload" data-src="images/line.svg" alt="img")
				div(class="row")
					div(class="col-12 col-lg-3 offset-lg-2")
						div(class="requisites__item")
							p(class="mb-2")
								b
									| Банковские реквизиты
							p 
								| р/с 15688464684646846846846 в банке ПАО СБЕРБАНК
					div(class="col-12 col-lg-3")
						div(class="requisites__item")
							p(class="mb-2")
								b
									| Юридический адрес
							p 
								| 121596, город Москва, улица Горбунова, дом 2 строение 3, эт 9 пом II оф 172
					div(class="col-12 col-lg-3")
						div(class="requisites__item")
							p(class="mb-1")
								b
									| ИНН: 
								| 754556548
							p(class="mb-1")
								b
									| КПП:
								| 754556548
							p(class="mb-1")
								b
									| ОГРН:
								| 754556548
						
	
