extends base.pug
block content
	<section id="home" class="slider-area fix p-relative">
		<div class="">
			<div class="single-slider slider-bg d-flex" style="background-image:url(images/slider_img01.jpg)">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-8">
							<div class="slider-content s-slider-content">
								<h1 data-animation="fadeInUp" data-delay=".4s">Одобрение кредита<br>на выгодных <span class="color-main">условиях</span></h1>
								ol
									li
										| не нужно ездить по банкам
									li
										| одобрение кредита дистанционно
									li
										| подберем выгодный кредит с низкой ставкой
									li
										| отменим обязательное страхование
								<div class="slider-btn mt-40 d-flex justify-content-center d-lg-block">
									<a href="#" class="btn"  data-animation="fadeInRight" data-delay=".8s" data-toggle="modal" data-target="#request">Оставить заявку</a>
									<div class="btn-after" data-animation="fadeInRight" data-delay=".8s"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	include components/services-area.pug
	include components/about-area.pug
	include components/team-area.pug
	<section id="testimonios" class="testimonial-area testimonial-p fix" style="background: #f1f4ff;">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="section-title center-align mb-60 text-center">
						<h2>Отзывы о нашей работе</h2>
						<img class="lazyload" data-src="images/line.svg" alt="img">
					</div>
					<div class="testimonial-active">
						<div class="single-testimonial">
							<div class="testi-img">
								<img class="lazyload" data-src="images/Vector 1.png" alt="img">
							</div>
							<div class="single-testimonial-bg">
								<div class="testi-author">
									<div class="ta-info">
										<h3>Арина Ивченко</h3>
									</div>
								</div>
								<p>Я обратился в эту компанию, потрбеность была 1 млн рублей за один день срочно. не хватало на квартиру в химках Одобрили мне в Сбербанке под 9.9 % годовых. До них получал отказы и быа куча ггемороя со справками и всякими документами. Готов посоветовать их тому кто хочет сэкономить время.</p>
							</div>
						</div>
						<div class="single-testimonial">
							<div class="testi-img">
								<img class="lazyload" data-src="images/Vector 1.png" alt="img">
							</div>
							<div class="single-testimonial-bg">
								<div class="testi-author">
									<div class="ta-info">
										<h3>Арина Ивченко</h3>
									</div>
								</div>
								<p>Я обратился в эту компанию, потрбеность была 1 млн рублей за один день срочно. не хватало на квартиру в химках Одобрили мне в Сбербанке под 9.9 % годовых. До них получал отказы и быа куча ггемороя со справками и всякими документами. Готов посоветовать их тому кто хочет сэкономить время.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	include components/calculator-area.pug
	include components/request-area.pug
	include components/news-area.pug
