extends base.pug
block content
		- BreadcrumbTitle = "Услуги"
		include components/breadcrumb-area.pug
		<section id="feature-top" class="services-area services-bg services-two feature-top_no-marg">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12">
						<div class="s-single-services active ">
							<div class="services-icon">
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M39.2831 32.0168H34.473V33.6202H39.2831V32.0168Z" />
									<path d="M32.8696 32.0168H28.0594V33.6202H32.8696V32.0168Z" />
									<path d="M26.456 32.0168H21.6458V33.6202H26.456V32.0168Z" />
									<path d="M47.2896 16.6267L31.4265 0.761139C30.976 0.306377 30.3622 0.0508359 29.7221 0.0516376H29.7149C29.0789 0.0519383 28.4698 0.307579 28.0241 0.761139L11.1965 17.5864H2.40509C1.07678 17.5864 0 18.6631 0 19.9914V42.439C0 43.7673 1.07678 44.844 2.40509 44.844H14.283L16.6753 47.2387C17.1257 47.6935 17.7395 47.949 18.3797 47.9482H18.3861C19.0222 47.948 19.6317 47.6924 20.0777 47.2387L22.4747 44.844H40.8865C42.2148 44.844 43.2916 43.7673 43.2916 42.439V24.0272L47.2856 20.0331C47.7415 19.5869 47.9988 18.9762 47.9999 18.3383C48.0023 17.6956 47.7464 17.0789 47.2896 16.6267ZM37.0913 8.69553L28.2005 17.5864H21.3925L33.6873 5.29153L37.0913 8.69553ZM29.1593 1.89153C29.4642 1.57917 29.9647 1.57316 30.2771 1.8782C30.2817 1.88261 30.2862 1.88702 30.2905 1.89153L32.5537 4.15793L19.1245 17.5864H13.4637L29.1593 1.89153ZM18.9425 46.1083C18.7959 46.2614 18.5932 46.3482 18.3813 46.3488C18.1664 46.3483 17.9608 46.2617 17.8105 46.1083L16.551 44.844H20.2075L18.9425 46.1083ZM41.6882 42.439C41.6882 42.8817 41.3292 43.2407 40.8865 43.2407H2.40509C1.96235 43.2407 1.60339 42.8817 1.60339 42.439V31.2152H41.6882V42.439ZM41.6882 29.6118H1.60339V24.8016H41.6882V29.6118ZM41.6882 23.1982H1.60339V19.9914C1.60339 19.5487 1.96235 19.1897 2.40509 19.1897H40.8865C41.3292 19.1897 41.6882 19.5487 41.6882 19.9914V23.1982ZM46.156 18.8955L43.2916 21.76V19.9914C43.2916 18.6631 42.2148 17.5864 40.8865 17.5864H30.4644L38.2217 9.82913L46.1528 17.7603C46.3069 17.9112 46.3935 18.1179 46.3933 18.3335C46.3931 18.5452 46.3076 18.7478 46.156 18.8955Z" />
									<path d="M7.68908 41.6588C7.80613 41.5575 7.91576 41.4479 8.01698 41.3309C9.07712 42.5657 10.8987 42.8003 12.2371 41.8744C13.1009 41.2704 13.6194 40.2861 13.6289 39.232C13.6289 37.461 12.1931 36.0253 10.4221 36.0253C10.2629 36.0231 10.104 36.0365 9.94747 36.0653L9.92662 36.071C9.9186 36.071 9.91059 36.071 9.90337 36.071C9.16892 36.193 8.501 36.5699 8.01698 37.1356C6.85852 35.796 4.83333 35.6492 3.4938 36.8077C2.15416 37.9662 2.00735 39.9913 3.1659 41.3309C4.32436 42.6705 6.34944 42.8173 7.68908 41.6588ZM10.2192 37.6455C10.2861 37.6328 10.354 37.6271 10.4221 37.6286C11.3076 37.6286 12.0255 38.3465 12.0255 39.232C12.0247 39.5712 11.9141 39.9011 11.7104 40.1724C11.6815 40.2117 11.6591 40.2526 11.6262 40.2935C11.6206 40.2999 11.6126 40.3039 11.6062 40.3103C11.3033 40.6447 10.8732 40.8355 10.4221 40.8354C9.5367 40.8203 8.8311 40.0903 8.84623 39.205C8.85966 38.4188 9.44109 37.7583 10.2192 37.6455ZM5.61188 37.6286C6.49746 37.6286 7.21528 38.3465 7.21528 39.232C7.21528 40.1176 6.49746 40.8354 5.61188 40.8354C4.72631 40.8354 4.00849 40.1176 4.00849 39.232C4.00849 38.3465 4.72631 37.6286 5.61188 37.6286Z" />
								</svg>
							</div>
							<div class="second-services-content">
								<h2><a href="#">Потребительский кредит наличными</a></h2>
								<p>Мы не берем аванс и предоплату. Оплата комиссии, только после получения кредита в банке</p>
								<a href="#" class="btn2 mt-20">Подробнее <i class="ml-2 fas fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
					
					<div class="col-lg-4 col-md-12">
						<div class="s-single-services">
							<div class="services-icon">
							<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0)">
									<path d="M17.2501 10.4576C16.8354 10.4576 16.5001 10.7928 16.5001 11.2076V24.0002C16.5001 24.4149 16.8354 24.7502 17.2501 24.7502C17.6649 24.7502 18.0001 24.4149 18.0001 24.0002V11.2076C18.0001 10.7928 17.6649 10.4576 17.2501 10.4576Z" fill="white"/>
									<path d="M38.2499 10.4127C37.8352 10.4127 37.4999 10.7479 37.4999 11.1627V24.0003C37.4999 24.415 37.8352 24.7503 38.2499 24.7503C38.6647 24.7503 38.9999 24.415 38.9999 24.0003V11.1627C38.9999 10.7479 38.6647 10.4127 38.2499 10.4127Z" fill="white"/>
									<path d="M28.3635 0.316973C28.1235 -0.0205241 27.657 -0.100773 27.3173 0.136974L14.5674 9.13689C14.2291 9.37688 14.1489 9.84413 14.3874 10.1831C14.5336 10.3901 14.7654 10.5004 15.0009 10.5004C15.1501 10.5004 15.3009 10.4554 15.4336 10.3631L28.1835 1.36321C28.5218 1.12321 28.602 0.655969 28.3635 0.316973Z" fill="white"/>
									<path d="M40.9334 9.13691L28.1835 0.136996C27.843 -0.101502 27.3765 -0.0205023 27.1373 0.316994C26.898 0.656741 26.979 1.12399 27.3173 1.36323L40.0672 10.3631C40.1992 10.4554 40.3499 10.5004 40.4992 10.5004C40.7347 10.5004 40.9664 10.3901 41.1134 10.1831C41.3526 9.8434 41.2716 9.37615 40.9334 9.13691Z" fill="white"/>
									<path d="M28.3635 3.31695C28.1235 2.9802 27.657 2.8992 27.3173 3.13695L14.5674 12.1369C14.2291 12.3769 14.1489 12.8441 14.3874 13.1831C14.5336 13.3901 14.7654 13.5004 15.0009 13.5004C15.1501 13.5004 15.3009 13.4554 15.4336 13.3631L28.1835 4.36319C28.5218 4.12319 28.602 3.65595 28.3635 3.31695Z" fill="white"/>
									<path d="M40.9334 12.1369L28.1835 3.13697C27.843 2.89847 27.3765 2.98022 27.1373 3.31697C26.898 3.65672 26.979 4.12396 27.3173 4.36321L40.0672 13.3631C40.1992 13.4554 40.3499 13.5004 40.4992 13.5004C40.7347 13.5004 40.9664 13.3901 41.1134 13.1831C41.3526 12.8434 41.2716 12.3761 40.9334 12.1369Z" fill="white"/>
									<path d="M15.0002 9.00037C14.5854 9.00037 14.2502 9.33561 14.2502 9.75036V12.7503C14.2502 13.1651 14.5854 13.5003 15.0002 13.5003C15.4149 13.5003 15.7502 13.1651 15.7502 12.7503V9.75036C15.7502 9.33561 15.4149 9.00037 15.0002 9.00037Z" fill="white"/>
									<path d="M40.4999 9.00037C40.0851 9.00037 39.7499 9.33561 39.7499 9.75036V12.7503C39.7499 13.1651 40.0851 13.5003 40.4999 13.5003C40.9146 13.5003 41.2499 13.1651 41.2499 12.7503V9.75036C41.2499 9.33561 40.9146 9.00037 40.4999 9.00037Z" fill="white"/>
									<path d="M30.75 13.5004H24.7501C24.3353 13.5004 24.0001 13.8356 24.0001 14.2504V24.0003C24.0001 24.415 24.3353 24.7503 24.7501 24.7503H30.75C31.1647 24.7503 31.5 24.415 31.5 24.0003V14.2504C31.5 13.8356 31.1647 13.5004 30.75 13.5004ZM30 23.2503H25.5V15.0004H30V23.2503Z" fill="white"/>
									<path d="M38.2499 23.2502H17.2501C16.8354 23.2502 16.5001 23.5855 16.5001 24.0002C16.5001 24.415 16.8354 24.7502 17.2501 24.7502H38.2499C38.6647 24.7502 38.9999 24.415 38.9999 24.0002C38.9999 23.5855 38.6647 23.2502 38.2499 23.2502Z" fill="white"/>
									<path d="M4.52272 43.5001H4.51447C4.10048 43.5001 3.76898 43.8353 3.76898 44.2501C3.76898 44.6648 4.10798 45 4.52272 45C4.93672 45 5.27272 44.6648 5.27272 44.2501C5.27272 43.8353 4.93672 43.5001 4.52272 43.5001Z" fill="white"/>
									<path d="M44.2499 30.0002C43.8351 30.0002 43.4999 30.3354 43.4999 30.7502C43.4999 31.1649 43.8351 31.5002 44.2499 31.5002C45.4904 31.5002 46.4999 32.5097 46.4999 33.7501C46.4999 34.5519 46.0694 35.2989 45.3749 35.7001C45.0171 35.9071 44.8941 36.3654 45.1019 36.7246C45.2399 36.9646 45.4919 37.0989 45.7514 37.0989C45.8789 37.0989 46.0079 37.0666 46.1264 36.9976C47.2821 36.3294 47.9998 35.0844 47.9998 33.7501C47.9998 31.6824 46.3176 30.0002 44.2499 30.0002Z" fill="white"/>
									<path d="M46.4099 35.9934C46.2134 35.6281 45.7574 35.4916 45.3944 35.6881L25.1446 46.59C24.7801 46.7857 24.6428 47.241 24.8393 47.6055C24.9751 47.8575 25.2338 48 25.5008 48C25.6208 48 25.7423 47.9715 25.8548 47.9107L46.1046 37.0088C46.4691 36.8131 46.6064 36.3579 46.4099 35.9934Z" fill="white"/>
									<path d="M25.5967 46.5068L8.34693 44.2568C7.93368 44.1983 7.56019 44.4923 7.50694 44.9033C7.45219 45.3136 7.74244 45.6901 8.15343 45.7433L25.4032 47.9933C25.4363 47.9978 25.4685 48.0001 25.5007 48.0001C25.872 48.0001 26.1945 47.7248 26.2432 47.3468C26.298 46.9366 26.0077 46.5601 25.5967 46.5068Z" fill="white"/>
									<path d="M8.25022 25.5002H0.750298C0.335552 25.5002 0.000305176 25.8355 0.000305176 26.2502V46.5C0.000305176 46.9148 0.335552 47.25 0.750298 47.25H8.25022C8.66497 47.25 9.00022 46.9148 9.00022 46.5V26.2502C9.00022 25.8355 8.66497 25.5002 8.25022 25.5002ZM7.50023 45.75H1.50029V27.0002H7.50023V45.75Z" fill="white"/>
									<path d="M44.4794 30.6819C44.4179 30.2724 44.0339 29.9912 43.6251 30.0534L29.1375 32.2584C28.728 32.3207 28.4467 32.7032 28.509 33.1127C28.5652 33.4847 28.8847 33.7502 29.2492 33.7502C29.2867 33.7502 29.325 33.7472 29.3632 33.7412L43.8509 31.5362C44.2604 31.4739 44.5416 31.0914 44.4794 30.6819Z" fill="white"/>
									<path d="M26.8927 29.3064C26.487 29.2381 26.097 29.5096 26.0265 29.9176C25.956 30.3256 26.2297 30.7134 26.6377 30.7839C27.717 30.9699 28.5 31.9021 28.5 33.0001C28.5 34.2406 27.4905 35.2501 26.25 35.2501C25.8352 35.2501 25.5 35.5853 25.5 36.0001C25.5 36.4148 25.8352 36.7501 26.25 36.7501C28.3177 36.7501 30 35.0678 30 33.0001C30 31.1701 28.6935 29.6154 26.8927 29.3064Z" fill="white"/>
									<path d="M26.9093 29.3087L15.1434 27.0137C14.7361 26.9327 14.3431 27.1997 14.2636 27.6062C14.1841 28.0127 14.4496 28.4072 14.8561 28.4859L26.622 30.7809C26.67 30.7907 26.7188 30.7952 26.766 30.7952C27.1178 30.7952 27.432 30.5469 27.5018 30.1884C27.5813 29.7819 27.3158 29.3874 26.9093 29.3087Z" fill="white"/>
									<path d="M15.0002 27.0002H8.25024C7.83549 27.0002 7.50024 27.3354 7.50024 27.7502C7.50024 28.1649 7.83549 28.5002 8.25024 28.5002H15.0002C15.4149 28.5002 15.7502 28.1649 15.7502 27.7502C15.7502 27.3354 15.4149 27.0002 15.0002 27.0002Z" fill="white"/>
									<path d="M25.992 35.2358L16.5579 34.5024C16.1446 34.4671 15.7846 34.7784 15.7524 35.1923C15.7201 35.6056 16.0291 35.9656 16.4424 35.9978L25.8765 36.7313C25.896 36.7328 25.9155 36.7336 25.935 36.7336C26.3235 36.7336 26.6513 36.4343 26.682 36.0413C26.7143 35.6281 26.4053 35.2681 25.992 35.2358Z" fill="white"/>
									<path d="M44.2498 30.0002C44.0339 30.0002 43.8194 30.0182 43.6101 30.0549C43.2014 30.1247 42.9276 30.5124 42.9981 30.9204C43.0604 31.2857 43.3769 31.5437 43.7361 31.5437C43.7781 31.5437 43.8216 31.5399 43.8636 31.5324C43.9889 31.5114 44.1179 31.5002 44.2498 31.5002C44.6646 31.5002 44.9998 31.1649 44.9998 30.7502C44.9998 30.3354 44.6646 30.0002 44.2498 30.0002Z" fill="white"/>
									<path d="M26.25 35.2501C26.1713 35.2501 26.0925 35.2456 26.0153 35.2374C25.6013 35.1894 25.2345 35.4916 25.1903 35.9041C25.1468 36.3159 25.4445 36.6848 25.857 36.7291C25.9853 36.7426 26.1165 36.7501 26.25 36.7501C26.6648 36.7501 27 36.4149 27 36.0001C27 35.5854 26.6648 35.2501 26.25 35.2501Z" fill="white"/>
									<path d="M26.2725 18.7503H26.2643C25.8503 18.7503 25.5188 19.0856 25.5188 19.5003C25.5188 19.915 25.8578 20.2503 26.2725 20.2503C26.6865 20.2503 27.0225 19.915 27.0225 19.5003C27.0225 19.0856 26.6865 18.7503 26.2725 18.7503Z" fill="white"/>
								</g>
								<defs>
									<clipPath id="clip0">
										<rect width="48" height="48" fill="white"/>
									</clipPath>
								</defs>
							</svg>
							</div>
							<div class="second-services-content">
								<h2><a href="#">Ипотечный<br>кредит</a></h2>
								<p>Мы не берем аванс и предоплату. Оплата комиссии, только после получения кредита в банке</p>
								<a href="#" class="btn2 mt-20">Подробнее <i class="ml-2 fas fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
					
					<div class="col-lg-4 col-md-12">
						<div class="s-single-services">
							<div class="services-icon">
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip1)">
										<path d="M8.66346 30.5035C7.53965 30.5035 6.62524 31.4178 6.62524 32.5418C6.62524 33.6656 7.53955 34.58 8.66346 34.58C9.78737 34.58 10.7017 33.6657 10.7017 32.5418C10.7016 31.4178 9.78728 30.5035 8.66346 30.5035ZM8.66346 33.1688C8.31774 33.1688 8.03636 32.8875 8.03636 32.5417C8.03636 32.1958 8.31764 31.9146 8.66346 31.9146C9.00928 31.9146 9.29056 32.1958 9.29056 32.5417C9.29047 32.8875 9.00919 33.1688 8.66346 33.1688Z" fill="white"/>
										<path d="M39.5792 30.5035C38.4554 30.5035 37.541 31.4178 37.541 32.5418C37.541 33.6656 38.4553 34.58 39.5792 34.58C40.7031 34.58 41.6174 33.6657 41.6174 32.5418C41.6174 31.4178 40.703 30.5035 39.5792 30.5035ZM39.5792 33.1688C39.2335 33.1688 38.9521 32.8875 38.9521 32.5417C38.9521 32.1958 39.2334 31.9146 39.5792 31.9146C39.925 31.9146 40.2063 32.1958 40.2063 32.5417C40.2063 32.8875 39.9249 33.1688 39.5792 33.1688Z" fill="white"/>
										<path d="M46.1942 26.5299V26.5251V20.1348C46.1942 19.3341 45.98 18.5459 45.5749 17.8554L44.7567 16.4612C44.5594 16.125 44.127 16.0123 43.7911 16.2098C43.4551 16.407 43.3425 16.8393 43.5397 17.1754L44.3579 18.5697C44.6362 19.0439 44.7832 19.585 44.7832 20.1349V20.243H43.3665C42.5502 20.243 41.8861 20.907 41.8861 21.7233V25.7503C41.8861 26.5665 42.5502 27.2306 43.3665 27.2306H44.7892C44.8326 27.5787 45.1289 27.8482 45.4888 27.8482H45.5217C46.1102 27.8482 46.589 28.327 46.589 28.9155V30.0587H43.7554C42.9064 28.6365 41.3526 27.6814 39.5793 27.6814C37.806 27.6814 36.2522 28.6365 35.4032 30.0587H28.3136L29.195 28.0929C29.292 27.8766 29.3412 27.6466 29.3412 27.4095V21.6541H34.057C34.4467 21.6541 34.7626 21.3382 34.7626 20.9485C34.7626 20.5589 34.4467 20.243 34.057 20.243H30.7527V14.8313H38.4938L38.488 20.243H37.0638C36.6742 20.243 36.3583 20.5589 36.3583 20.9485C36.3583 21.3382 36.6742 21.6541 37.0638 21.6541H38.488C39.2694 21.6541 39.9052 21.0183 39.9052 20.2369V14.5846C39.9052 13.944 39.3841 13.4217 38.737 13.4202H22.3187C22.0337 13.4202 21.7584 13.5232 21.5435 13.7102L13.8359 20.4162C13.6139 20.6095 13.5351 20.9201 13.6382 21.1957C13.7413 21.4714 14.0047 21.6541 14.2989 21.6541H27.9299V27.4095C27.9299 27.4463 27.9222 27.482 27.9072 27.5156L26.767 30.0587H18.7243C18.3346 30.0587 18.0187 30.3746 18.0187 30.7642C18.0187 31.1539 18.3346 31.4698 18.7243 31.4698H34.8394C34.7613 31.815 34.7188 32.1734 34.7188 32.5419C34.7188 32.6601 34.7245 32.777 34.7329 32.8931H13.5097C13.518 32.777 13.5238 32.6601 13.5238 32.5419C13.5238 32.1735 13.4812 31.815 13.4032 31.4698H15.7176C16.1072 31.4698 16.4231 31.1539 16.4231 30.7642C16.4231 30.3746 16.1072 30.0587 15.7176 30.0587H12.8394C12.3388 29.22 11.593 28.5446 10.7015 28.131V21.2728L20.8268 12.4633C21.1635 12.1703 21.5947 12.009 22.041 12.009H38.7369C39.8292 12.009 40.8512 12.5942 41.4041 13.5363L42.0159 14.579C42.2131 14.915 42.6454 15.0276 42.9816 14.8305C43.3176 14.6333 43.4302 14.2009 43.2331 13.8648L42.6212 12.8221C41.816 11.4501 40.3277 10.5978 38.737 10.5978H22.0411C21.2542 10.5978 20.494 10.8822 19.9006 11.3986L9.7321 20.2458H4.9565C2.22345 20.2459 0 22.4693 0 25.2024V32.7836C0 33.622 0.682134 34.3042 1.52062 34.3042H4.13514C4.84248 36.1152 6.60497 37.4022 8.66341 37.4022C10.7219 37.4022 12.4843 36.1153 13.1917 34.3042H35.051C35.7584 36.1152 37.5209 37.4022 39.5793 37.4022C41.6378 37.4022 43.4003 36.1153 44.1077 34.3042H46.4749C47.3159 34.3042 48.0001 33.62 48.0001 32.779V28.9155C48 27.7819 47.2351 26.8237 46.1942 26.5299ZM43.3664 21.654H44.7831V23.0311H43.2972V21.7232C43.2972 21.6851 43.3283 21.654 43.3664 21.654ZM43.2972 25.7503V24.4423H44.7831V25.8195H43.3664C43.3283 25.8195 43.2972 25.7885 43.2972 25.7503ZM27.9296 14.8312H29.3415V20.2429H27.9296V14.8312ZM22.4049 14.8312H26.5186V20.2429H16.1849L22.4049 14.8312ZM9.29042 21.657V27.7232C9.08496 27.6966 8.87593 27.6814 8.66332 27.6814C6.8886 27.6814 5.33365 28.6381 4.48519 30.0623C4.46186 30.0599 4.43825 30.0587 4.41435 30.0587H1.41112V26.4916H3.33005C4.50382 26.4916 5.45867 25.5366 5.45867 24.3629C5.45867 23.1891 4.50382 22.2342 3.33005 22.2342H3.02111C3.57803 21.8699 4.24266 21.6571 4.9565 21.6571H9.29042V21.657ZM3.33005 23.6452C3.72573 23.6452 4.04755 23.9671 4.04755 24.3627C4.04755 24.7583 3.72563 25.0803 3.33005 25.0803H1.41422C1.43172 24.567 1.55825 24.081 1.77227 23.6452H3.33005ZM1.52062 32.8931C1.46022 32.8931 1.41112 32.8439 1.41112 32.7836V31.4697H3.92356C3.84548 31.8149 3.80296 32.1733 3.80296 32.5418C3.80296 32.66 3.8087 32.7769 3.81707 32.8931H1.52062ZM8.66341 35.991C6.76151 35.991 5.21408 34.4437 5.21408 32.5417C5.21408 30.6397 6.76142 29.0924 8.66341 29.0924C10.5654 29.0924 12.1127 30.6397 12.1127 32.5417C12.1127 34.4437 10.5653 35.991 8.66341 35.991ZM39.5793 35.991C37.6774 35.991 36.13 34.4437 36.13 32.5417C36.13 30.6397 37.6773 29.0924 39.5793 29.0924C41.4813 29.0924 43.0286 30.6397 43.0286 32.5417C43.0286 34.4437 41.4812 35.991 39.5793 35.991ZM46.4748 32.8931H44.4255C44.4339 32.7769 44.4397 32.66 44.4397 32.5418C44.4397 32.1734 44.397 31.8149 44.319 31.4697H46.5889V32.7789C46.5889 32.8419 46.5377 32.8931 46.4748 32.8931Z" fill="white"/>
										<path d="M26.1104 24.1692C26.5001 24.1692 26.816 23.8533 26.816 23.4637C26.816 23.074 26.5001 22.7581 26.1104 22.7581H24.7545C24.3649 22.7581 24.049 23.074 24.049 23.4637C24.049 23.8533 24.3649 24.1692 24.7545 24.1692H26.1104Z" fill="white"/>
									</g>
									<defs>
										<clipPath id="clip1">
											<rect width="48" height="48" fill="white"/>
										</clipPath>
									</defs>
								</svg>
		
							</div>
							<div class="second-services-content">
								<h2><a href="#">Кредит под залог автомобиля</a></h2>
								<p>Мы не берем аванс и предоплату. Оплата комиссии, только после получения кредита в банке</p>
								<a href="#" class="btn2 mt-20">Подробнее <i class="ml-2 fas fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
					
					<div class="col-lg-4 col-md-12">
						<div class="s-single-services">
							<div class="services-icon">
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip3)">
										<path d="M17.2501 10.4576C16.8354 10.4576 16.5001 10.7929 16.5001 11.2076V24.0003C16.5001 24.415 16.8354 24.7502 17.2501 24.7502C17.6649 24.7502 18.0001 24.415 18.0001 24.0003V11.2076C18.0001 10.7929 17.6649 10.4576 17.2501 10.4576Z" fill="white"/>
										<path d="M38.2499 10.4126C37.8352 10.4126 37.4999 10.7478 37.4999 11.1626V24.0002C37.4999 24.415 37.8352 24.7502 38.2499 24.7502C38.6646 24.7502 38.9999 24.415 38.9999 24.0002V11.1626C38.9999 10.7478 38.6646 10.4126 38.2499 10.4126Z" fill="white"/>
										<path d="M28.3635 0.316912C28.1235 -0.0205851 27.657 -0.100834 27.3173 0.136913L14.5674 9.13682C14.2291 9.37682 14.1489 9.84407 14.3874 10.1831C14.5336 10.3901 14.7654 10.5003 15.0009 10.5003C15.1501 10.5003 15.3009 10.4553 15.4336 10.3631L28.1835 1.36315C28.5218 1.12315 28.602 0.655908 28.3635 0.316912Z" fill="white"/>
										<path d="M40.9334 9.13691L28.1835 0.136996C27.843 -0.101502 27.3765 -0.0205023 27.1373 0.316994C26.898 0.656741 26.979 1.12399 27.3173 1.36323L40.0671 10.3631C40.1991 10.4554 40.3499 10.5004 40.4991 10.5004C40.7346 10.5004 40.9664 10.3901 41.1134 10.1831C41.3526 9.8434 41.2716 9.37615 40.9334 9.13691Z" fill="white"/>
										<path d="M28.3635 3.31695C28.1235 2.9802 27.657 2.8992 27.3173 3.13695L14.5674 12.1369C14.2291 12.3769 14.1489 12.8441 14.3874 13.1831C14.5336 13.3901 14.7654 13.5004 15.0009 13.5004C15.1501 13.5004 15.3009 13.4554 15.4336 13.3631L28.1835 4.36319C28.5218 4.12319 28.602 3.65595 28.3635 3.31695Z" fill="white"/>
										<path d="M40.9334 12.1368L28.1835 3.13691C27.843 2.89841 27.3765 2.98016 27.1373 3.31691C26.898 3.65666 26.979 4.1239 27.3173 4.36315L40.0671 13.3631C40.1991 13.4553 40.3499 13.5003 40.4991 13.5003C40.7346 13.5003 40.9664 13.3901 41.1134 13.1831C41.3526 12.8433 41.2716 12.3761 40.9334 12.1368Z" fill="white"/>
										<path d="M15.0001 9.00037C14.5854 9.00037 14.2502 9.33561 14.2502 9.75036V12.7503C14.2502 13.1651 14.5854 13.5003 15.0001 13.5003C15.4149 13.5003 15.7501 13.1651 15.7501 12.7503V9.75036C15.7501 9.33561 15.4149 9.00037 15.0001 9.00037Z" fill="white"/>
										<path d="M40.4999 9.00037C40.0851 9.00037 39.7499 9.33561 39.7499 9.75036V12.7503C39.7499 13.1651 40.0851 13.5003 40.4999 13.5003C40.9146 13.5003 41.2499 13.1651 41.2499 12.7503V9.75036C41.2499 9.33561 40.9146 9.00037 40.4999 9.00037Z" fill="white"/>
										<path d="M30.75 13.5004H24.7501C24.3353 13.5004 24.0001 13.8356 24.0001 14.2504V24.0003C24.0001 24.415 24.3353 24.7503 24.7501 24.7503H30.75C31.1647 24.7503 31.5 24.415 31.5 24.0003V14.2504C31.5 13.8356 31.1647 13.5004 30.75 13.5004ZM30 23.2503H25.5V15.0004H30V23.2503Z" fill="white"/>
										<path d="M38.2499 23.2502H17.2501C16.8354 23.2502 16.5001 23.5855 16.5001 24.0002C16.5001 24.415 16.8354 24.7502 17.2501 24.7502H38.2499C38.6647 24.7502 38.9999 24.415 38.9999 24.0002C38.9999 23.5855 38.6647 23.2502 38.2499 23.2502Z" fill="white"/>
										<path d="M4.52272 43.5H4.51447C4.10048 43.5 3.76898 43.8352 3.76898 44.25C3.76898 44.6647 4.10798 45 4.52272 45C4.93672 45 5.27272 44.6647 5.27272 44.25C5.27272 43.8352 4.93672 43.5 4.52272 43.5Z" fill="white"/>
										<path d="M44.2499 30.0001C43.8352 30.0001 43.4999 30.3354 43.4999 30.7501C43.4999 31.1649 43.8352 31.5001 44.2499 31.5001C45.4904 31.5001 46.4999 32.5096 46.4999 33.7501C46.4999 34.5518 46.0694 35.2988 45.3749 35.7001C45.0171 35.9071 44.8941 36.3653 45.1019 36.7246C45.2399 36.9646 45.4919 37.0988 45.7514 37.0988C45.8789 37.0988 46.0079 37.0665 46.1264 36.9976C47.2821 36.3293 47.9999 35.0843 47.9999 33.7501C47.9999 31.6824 46.3176 30.0001 44.2499 30.0001Z" fill="white"/>
										<path d="M46.4098 35.9934C46.2133 35.6281 45.7573 35.4916 45.3944 35.6881L25.1445 46.59C24.7801 46.7857 24.6428 47.241 24.8393 47.6055C24.975 47.8575 25.2338 48 25.5008 48C25.6208 48 25.7423 47.9715 25.8548 47.9107L46.1046 37.0088C46.4691 36.8131 46.6063 36.3579 46.4098 35.9934Z" fill="white"/>
										<path d="M25.5967 46.5068L8.34693 44.2568C7.93368 44.1983 7.56019 44.4923 7.50694 44.9033C7.45219 45.3136 7.74244 45.6901 8.15343 45.7433L25.4032 47.9933C25.4363 47.9978 25.4685 48.0001 25.5007 48.0001C25.872 48.0001 26.1945 47.7248 26.2432 47.3468C26.298 46.9366 26.0077 46.5601 25.5967 46.5068Z" fill="white"/>
										<path d="M8.25019 25.5002H0.750267C0.335521 25.5002 0.000274658 25.8355 0.000274658 26.2502V46.5C0.000274658 46.9148 0.335521 47.25 0.750267 47.25H8.25019C8.66494 47.25 9.00019 46.9148 9.00019 46.5V26.2502C9.00019 25.8355 8.66494 25.5002 8.25019 25.5002ZM7.5002 45.75H1.50026V27.0002H7.5002V45.75Z" fill="white"/>
										<path d="M44.4794 30.6819C44.4179 30.2724 44.0339 29.9912 43.6251 30.0534L29.1375 32.2584C28.728 32.3207 28.4467 32.7032 28.509 33.1127C28.5652 33.4847 28.8847 33.7502 29.2492 33.7502C29.2867 33.7502 29.325 33.7472 29.3632 33.7412L43.8509 31.5362C44.2604 31.4739 44.5416 31.0914 44.4794 30.6819Z" fill="white"/>
										<path d="M26.8928 29.3064C26.487 29.2381 26.097 29.5096 26.0265 29.9176C25.956 30.3256 26.2298 30.7134 26.6378 30.7839C27.717 30.9699 28.5 31.9021 28.5 33.0001C28.5 34.2406 27.4905 35.2501 26.25 35.2501C25.8353 35.2501 25.5 35.5853 25.5 36.0001C25.5 36.4148 25.8353 36.7501 26.25 36.7501C28.3178 36.7501 30 35.0678 30 33.0001C30 31.1701 28.6935 29.6154 26.8928 29.3064Z" fill="white"/>
										<path d="M26.9093 29.3087L15.1434 27.0138C14.7361 26.9328 14.3431 27.1998 14.2636 27.6063C14.1841 28.0128 14.4496 28.4072 14.8561 28.486L26.622 30.781C26.67 30.7907 26.7188 30.7952 26.766 30.7952C27.1178 30.7952 27.432 30.547 27.5018 30.1885C27.5813 29.782 27.3158 29.3875 26.9093 29.3087Z" fill="white"/>
										<path d="M15.0001 27.0002H8.25021C7.83546 27.0002 7.50021 27.3355 7.50021 27.7502C7.50021 28.165 7.83546 28.5002 8.25021 28.5002H15.0001C15.4149 28.5002 15.7501 28.165 15.7501 27.7502C15.7501 27.3355 15.4149 27.0002 15.0001 27.0002Z" fill="white"/>
										<path d="M25.9921 35.2358L16.5579 34.5024C16.1447 34.4671 15.7847 34.7784 15.7524 35.1923C15.7202 35.6056 16.0292 35.9656 16.4424 35.9978L25.8766 36.7313C25.8961 36.7328 25.9156 36.7336 25.9351 36.7336C26.3236 36.7336 26.6513 36.4343 26.6821 36.0413C26.7143 35.6281 26.4053 35.2681 25.9921 35.2358Z" fill="white"/>
										<path d="M44.2498 30.0001C44.0339 30.0001 43.8194 30.0181 43.6101 30.0549C43.2014 30.1246 42.9276 30.5124 42.9981 30.9204C43.0604 31.2856 43.3769 31.5436 43.7361 31.5436C43.7781 31.5436 43.8216 31.5399 43.8636 31.5324C43.9889 31.5114 44.1179 31.5001 44.2498 31.5001C44.6646 31.5001 44.9998 31.1649 44.9998 30.7501C44.9998 30.3354 44.6646 30.0001 44.2498 30.0001Z" fill="white"/>
										<path d="M26.25 35.2501C26.1713 35.2501 26.0925 35.2456 26.0153 35.2373C25.6013 35.1893 25.2345 35.4916 25.1903 35.904C25.1468 36.3158 25.4445 36.6848 25.857 36.729C25.9853 36.7425 26.1165 36.75 26.25 36.75C26.6648 36.75 27 36.4148 27 36C27 35.5853 26.6648 35.2501 26.25 35.2501Z" fill="white"/>
										<path d="M26.2725 18.7502H26.2643C25.8503 18.7502 25.5188 19.0855 25.5188 19.5002C25.5188 19.915 25.8578 20.2502 26.2725 20.2502C26.6865 20.2502 27.0225 19.915 27.0225 19.5002C27.0225 19.0855 26.6865 18.7502 26.2725 18.7502Z" fill="white"/>
									</g>
									<defs>
										<clipPath id="clip3">
											<rect width="48" height="48" fill="white"/>
										</clipPath>
									</defs>
								</svg>
		
							</div>
							<div class="second-services-content">
								<h2><a href="#">Кредит под залог недвижимости</a></h2>
								<p>Мы не берем аванс и предоплату. Оплата комиссии, только после получения кредита в банке</p>
								<a href="#" class="btn2 mt-20">Подробнее <i class="ml-2 fas fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
					
					<div class="col-lg-4 col-md-12">
						<div class="s-single-services">
							<div class="services-icon">
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip4)">
										<path d="M34.9825 1.88638L7.28503 0.0337904C6.38212 -0.0260221 5.59903 0.658634 5.53856 1.56126L5.32191 4.80098H1.64062C0.736031 4.80098 0 5.53701 0 6.4416V46.329C0 47.2336 0.736031 47.9697 1.64062 47.9697H22.8413C23.0251 47.9697 23.2072 47.8946 23.3375 47.7648L26.5379 44.5785C26.5704 44.5855 26.6036 44.591 26.6377 44.5933L32.1017 44.9587C32.9737 45.0163 33.7897 44.3069 33.8482 43.4312L36.51 3.63295C36.5699 2.7397 35.8757 1.9461 34.9825 1.88638ZM23.5445 45.5647V40.6803C23.5445 40.5511 23.6497 40.446 23.7788 40.446H28.6445L23.5445 45.5647ZM32.445 43.3375C32.4221 43.479 32.339 43.5518 32.1956 43.5556L27.8569 43.2654L30.8336 40.3019C30.9662 40.1699 31.0407 39.9906 31.0407 39.8036V6.4417C31.0407 5.5371 30.3047 4.80107 29.4001 4.80107H22.0882C21.1792 4.80107 21.1792 6.20732 22.0882 6.20732H29.4001C29.5294 6.20732 29.6345 6.31251 29.6345 6.4417V39.0397H23.7788C22.8742 39.0397 22.1382 39.7757 22.1382 40.6803V46.5634H1.64062C1.51144 46.5634 1.40625 46.4582 1.40625 46.329V6.4417C1.40625 6.31251 1.51144 6.20732 1.64062 6.20732H18.3439C19.253 6.20732 19.253 4.80107 18.3439 4.80107H6.73125L6.94162 1.6552C6.9645 1.51354 7.04766 1.44088 7.19109 1.43704L34.8886 3.28954C35.0302 3.31242 35.103 3.39557 35.1068 3.53901L32.445 43.3375Z" fill="white"/>
										<path d="M25.1088 22.2231H5.93195C5.54363 22.2231 5.22882 22.538 5.22882 22.9263C5.22882 23.3146 5.54363 23.6294 5.93195 23.6294H25.1088C25.4972 23.6294 25.8119 23.3146 25.8119 22.9263C25.8119 22.538 25.4972 22.2231 25.1088 22.2231Z" fill="white"/>
										<path d="M25.1088 27.1249H5.93195C5.54363 27.1249 5.22882 27.4397 5.22882 27.828C5.22882 28.2163 5.54363 28.5311 5.93195 28.5311H25.1088C25.4972 28.5311 25.8119 28.2163 25.8119 27.828C25.8119 27.4397 25.4972 27.1249 25.1088 27.1249Z" fill="white"/>
										<path d="M5.22882 18.0245C5.22882 18.4128 5.54363 18.7277 5.93195 18.7277H25.1088C25.4972 18.7277 25.8119 18.4128 25.8119 18.0245C25.8119 17.6362 25.4972 17.3214 25.1088 17.3214H5.93195C5.54363 17.3214 5.22882 17.6362 5.22882 18.0245Z" fill="white"/>
										<path d="M8.60687 13.1228C8.60687 13.5111 8.92169 13.8259 9.31 13.8259H21.7307C22.119 13.8259 22.4338 13.5111 22.4338 13.1228C22.4338 12.7345 22.119 12.4197 21.7307 12.4197H9.31C8.92169 12.4197 8.60687 12.7345 8.60687 13.1228Z" fill="white"/>
										<path d="M18.2583 41.1362C16.9937 41.1396 15.7291 41.1423 14.4645 41.1442C14.0395 41.1449 13.6145 41.1455 13.1895 41.1457C12.4194 41.1463 11.9005 40.9917 11.728 40.1446C11.5821 39.4283 10.5688 39.5246 10.372 40.1446C9.88541 41.6762 9.08066 41.0761 8.62991 40.0459C8.18019 39.0181 8.06488 37.8678 7.86847 36.774C7.72409 35.9703 6.50853 36.1956 6.48734 36.9609C6.45941 37.9688 6.36528 38.9607 6.10944 39.9383C5.84553 40.9468 5.45 41.9161 5.05738 42.8797C4.71509 43.7198 6.07616 44.0812 6.41338 43.2536C6.76128 42.3997 7.10966 41.5412 7.36897 40.6554C7.85084 41.8142 8.84778 43.1248 10.2684 42.3524C10.5327 42.2087 10.7795 42.0044 10.9962 41.7662C11.7349 42.6199 12.8345 42.5526 13.8634 42.5513C15.3284 42.5495 16.7935 42.5463 18.2585 42.5424C19.1631 42.5401 19.1648 41.1338 18.2583 41.1362Z" fill="white"/>
										<path d="M47.4311 23.1036C47.0658 22.74 46.5635 22.5536 46.0535 22.5398L45.5221 22.5424V21.5375C45.5221 20.9254 45.1585 20.2787 44.6378 19.9567V18.5413C44.6378 15.6285 40.1029 15.6412 40.1029 18.5549V19.9706C39.5723 20.2985 39.2165 20.8838 39.2165 21.5504V22.58C36.8759 22.7394 36.8692 26.3061 39.2191 26.4455C39.2341 29.5932 39.2333 32.6893 39.2165 35.8896C39.2119 36.7722 40.6179 36.8239 40.6227 35.897C40.6396 32.6939 40.6403 29.5951 40.6254 26.4448L44.114 26.4275C44.114 26.4275 44.1095 36.8195 44.1095 41.501C44.1095 43.7827 40.6202 43.7979 40.6202 41.4773L40.6214 40.1951C40.6762 39.2876 39.2726 39.2029 39.2177 40.1103V41.3135C39.2177 42.3448 39.5366 43.2181 40.1541 43.8325C40.209 45.3037 40.8289 46.7273 41.8762 47.7658C42.1766 48.064 42.5926 47.9728 42.8834 47.7488C43.9489 46.6814 44.5493 45.2743 44.5868 43.7725C45.0509 43.3102 45.5156 42.8447 45.5156 41.251L45.5162 34.8431C46.7321 35.1889 48 34.2479 48 32.9731V24.4726C48 23.9548 47.798 23.4687 47.4311 23.1036ZM40.6227 22.5667V21.5503C40.6227 21.3423 40.7655 21.1678 40.9577 21.116L43.7725 21.102C43.8513 21.1215 43.9239 21.1588 43.9828 21.2174C44.0686 21.3028 44.1158 21.4165 44.1158 21.5375V22.5494L40.6227 22.5667ZM42.3731 17.6917C42.8047 17.6917 43.2314 18.1149 43.2314 18.5413V19.6818L41.509 19.6903V18.5549C41.5091 18.0812 41.8965 17.694 42.3731 17.6917ZM42.3721 46.1824C42.0452 45.7191 41.8087 45.1951 41.6767 44.6443C41.8944 44.6915 42.1149 44.7161 42.3355 44.7161C42.5818 44.7161 42.828 44.6855 43.0704 44.6263C42.9416 45.1855 42.7056 45.7126 42.3721 46.1824ZM46.5938 32.9731C46.5938 33.6388 45.5201 33.6913 45.5201 32.9854C45.5201 32.9854 45.5213 26.3316 45.5221 25.7217C45.5226 25.3283 45.1956 25.0177 44.8135 25.0177L39.3396 25.0449C38.6606 25.0449 38.6765 23.9826 39.3465 23.9793L46.0604 23.946C46.3851 23.9737 46.5628 24.1493 46.5937 24.4726V32.9731H46.5938Z" fill="white"/>
									</g>
									<defs>
										<clipPath id="clip4">
											<rect width="48" height="48" fill="white"/>
										</clipPath>
									</defs>
								</svg>
							</div>
							<div class="second-services-content">
								<h2><a href="#">Рефинансирование кредита</a></h2>
								<p>Мы не берем аванс и предоплату. Оплата комиссии, только после получения кредита в банке</p>
								<a href="#" class="btn2 mt-20">Подробнее <i class="ml-2 fas fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
					
					<div class="col-lg-4 col-md-12">
						<div class="s-single-services">
							<div class="services-icon">
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip5)">
										<path d="M43 44H5C2.2 44 0 41.8 0 39V15C0 12.2 2.2 10 5 10H43C45.8 10 48 12.2 48 15V39C48 41.8 45.8 44 43 44ZM5 12C3.4 12 2 13.4 2 15V39C2 40.6 3.4 42 5 42H43C44.6 42 46 40.6 46 39V15C46 13.4 44.6 12 43 12H5Z" fill="white"/>
										<path d="M31 12C30.4 12 30 11.6 30 11V7C30 6.4 29.6 6 29 6H19C18.4 6 18 6.4 18 7V11C18 11.6 17.6 12 17 12C16.4 12 16 11.6 16 11V7C16 5.4 17.4 4 19 4H29C30.6 4 32 5.4 32 7V11C32 11.6 31.6 12 31 12Z" fill="white"/>
										<path d="M24 28C23.8 28 23.8 28 23.6 28L0.599975 20C0.199975 19.8 -0.200025 19.2 -2.53841e-05 18.6C0.199975 18.2 0.799975 17.8 1.39997 18L24 26L46.6 18C47.2 17.8 47.6 18 47.8 18.6C48 19.2 47.8 19.6 47.2 19.8L24.2 27.8C24.2 28 24.2 28 24 28Z" fill="white"/>
									</g>
									<defs>
										<clipPath id="clip5">
											<rect width="48" height="48" fill="white"/>
										</clipPath>
									</defs>
								</svg>
							</div>
							<div class="second-services-content">
								<h2><a href="#">Кредит для<br>бизнеса</a></h2>
								<p>Мы не берем аванс и предоплату. Оплата комиссии, только после получения кредита в банке</p>
								<a href="#" class="btn2 mt-20">Подробнее <i class="ml-2 fas fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		include components/advantage-area.pug
		include components/step-area.pug
		include components/request-area.pug
		include components/help-area.pug
						
	
