extends base.pug
block content
		div(class="breadcrumb-area breadcrumb-area_rare")
			div(class="container position-relative")
				img(class="breadcrumb-area__preview-img lazyload" data-src="images/car 1.png" alt="img")
				div(class="row")
					div(class="col-12 col-lg-7")
						h1(class="pb-5")
							| Кредит под залог автомобиля
						<nav aria-label="breadcrumb" >
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">главная</a></li>
								<li class="breadcrumb-item active" aria-current="page">контакты</li>
							</ol>
						</nav>
		div(class="credit-area")
			div(class="container")
				div(class="row")
					div(class="col-12 col-lg-6 pr-lg-0")
						span(class="credit-area__title")
							| Деньги в день обращения с годовой ставкой от 6%
						div(class="py-3 d-flex flex-column flex-lg-row align-items-start justify-content-between")
							div()
								span(class="credit-area__subtitle")
									| 6%
								p
									b
										| Ставка
							div()
								span(class="credit-area__subtitle")
									| до 15 млн.р
								p
									b
										| Сумма кредита
							div()
								span(class="credit-area__subtitle")
									| 1 день
								p
									b
										| Срок одобрения
						div(class="row")
							div(class="col-12 col-lg-6")
								p(class="credit-area__description")
									| Мы не берем аванс и предоплату. Оплата нашей работы только после получения кредита в банке
							div(class="col-12 col-lg-6")
								p(class="credit-area__description")
									| Мы не берем аванс и предоплату. Оплата нашей работы только после получения кредита в банке
						div(class="row")
							div(class="col-12 col-lg-6")
								p(class="credit-area__description")
									| Без подтверждения дохода, без справок  и трудоустройства
							div(class="col-12 col-lg-6")
								p(class="credit-area__description")
									| Без подтверждения дохода, без справок  и трудоустройства
						div(class="row")
							div(class="col-12 col-lg-6")
								p(class="credit-area__description")
									| Вы по-прежнему остаётесь собственником своего автомобиля
							div(class="col-12 col-lg-6")
								p(class="credit-area__description")
									| Вы по-прежнему остаётесь собственником своего автомобиля
						div(class="row")
							div(class="col-12 pt-4")
								button(type="button" class="btn" data-toggle="modal" data-target="#request")
									| Оставить заявку
					div(class="col-lg-6 d-none d-lg-block")
						img(class="lazyload img-fluid" data-src="images/Group 60.png" alt="img")
		include components/info-area.pug
		include components/calculator-area.pug
		include components/advantage-area.pug
		include components/step-area.pug
		include components/request-area.pug
		include components/help-area.pug
						
	
