.news-area {
	padding: 80px 0 150px 0px;
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
	.single-post {
		.b-meta {
			background: #0641B0;
			padding: 10px 30px;
			div {
				font-family: Gilroy;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 22px;
				color: #FFFFFF;
			}
		}
		.blog-content {
			padding: 15px 19px 17px 19px;
			border-top: 2px solid transparent;
			transition: 0.3s;
			h3 {
				font-family: Gilroy;
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				line-height: 29px;

				color: #000000;

				margin-bottom: 40px;

				text-align: left;
				min-height: 100px;
				a {
					border-bottom: 1px solid transparent;
					&:hover {
						color: #f3525a;
						text-decoration: none;
						border-bottom: 1px solid #f3525a;
					}
				}
				@media (max-width: 991px) {
					min-height: unset;
				}
			}
			.blog-btn {
				a {
					font-family: Gilroy;
					font-style: normal;
					font-weight: bold;
					font-size: 16px;
					line-height: 19px;

					color: #F3525A;
					&:hover {
						color: #f3525a;
						text-decoration: none;
					}
				}
			}
		}
	}
}
