/* INCLUD SASS */

@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "library/jquery.fancybox.css";

@import "template/animate.min.css";
@import "template/magnific-popup.css";
@import "template/fontawesome/css/all.min.css";
// @import "template/font-flaticon/flaticon.css";
@import "template/dripicons.css";
@import "template/slick.css";
@import "template/default.css";
@import "template/style.css";
@import "template/responsive.css";

@import "default/_default";
// @import "preloader/_preloader";
@import "header/_header";
@import "slider-area/_slider-area";
@import "services-area/_services-area";
@import "about-area/_about-area";
@import "team-area/_team-area";
@import "calculator-area/_calculator-area";
@import "button/_button";
@import "library/jquery-ui.css";
@import "form/_form";
@import "request-area/_request-area";
@import "news-area/_news-area";
// @import "modalWindow/_modal";
@import "footer/_footer";
@import "breadcrumb-area/_breadcrumb-area";
@import "advantage-area/_advantage-area";
@import "step-area/_step-area";
@import "help-area/_help-area";
@import "info-area/_info-area";


.color-main {
	color: #0641B0!important;
}

.s-single-services.active {
	background-image: url("../images/se-hover-bg.jpg");
}
.single-testimonial-bg {
	padding-top: 50px;
	padding-bottom: 50px;
	.ta-info {
		margin: 0px;
		h3 {
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			color: #002E5B;
			margin-bottom: 40px;
		}
	}
	p {
		padding: 0px;
		margin: 0px;

		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		color: #7A7177;

		padding-bottom: 30px;
	}
}
.testimonial-active {
	.testi-img {
		top: 50%;
		transform: translateY(-50%);
		img {
			max-width: 200px;
		}
	}
	@media (max-width: 991px) {
		.testi-img {
			top: 20px;
			left: 15px;
			transform: unset;
		}
		.single-testimonial-bg {
			padding-top: 260px;
		}
		.slick-dots {
			bottom: 0px;
		}
	}
}



.map {
	iframe {
		width: 100%;
		height: 400px;
	}
	.f-contact__item {
		a,span {
			font-size: 16px;
			line-height: 19px;
			color: #002E5B;
		}
	}
}



.requisites {
	background: #F1F4FF;
	padding: 100px 0px;
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}



.credit-area {
	padding: 120px 0px;
	@media (max-width: 991px) {
		padding: 50px 0px;
	}

	.credit-area__title {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		line-height: 28px;
		color: #242F51;
	}
	p {
		font-size: 18px;
		line-height: 22px;
		color: #2E2E2E;
	}
	.credit-area__description {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;

		color: #000000;
		position: relative;

		&:after {
			margin-top: 8px;
			width: 70px;
			height: 10px;
			background-color: #19AEC3;
			content: "";
			display: block;
		}

	}
	.credit-area__subtitle {
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 44px;
		color: #19AEC3;
	}
}










.brand-area {
	padding: 50px 0 100px 0px;
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}
.brand-active {
	.slick-track {
		display: flex;
		align-items: center;
	}
}
.single-brand img {
	height: unset;
	width: 100%;
	max-width: 183px;
}


.license {
	padding: 20px 0 200px 0px;
	@media (max-width: 991px) {
		padding: 20px 0 50px 0px;
	}
}



.license-slider .slick-arrow {
	position: absolute;
	border: none;
	padding: 0;
	font-size: 50px;
	z-index: 9;
	cursor: pointer;

	width: 32px;
	height: 32px;
	background-color: #fff;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
	font-size: 22px;
	line-height: 100%;

	top: 50%;
	transform: translateY(-50%);
	&.slick-next {
		right: 0px;
	}
	&.prev {
		left: 0px;
	}
	&:focus {
		outline: none;
	}
}
