.header-cta {
	ul {
		margin: 0px;
	}
	li {
		margin: 0px;
		padding: 0px;
		margin-left: 20px!important;
		&:first-child {
			margin: 0px!important;
		}
		a {
			font-size: 14px;
			line-height: 16px;
			color: #7A7177;
			font-family: Gilroy;
			&:hover {
				text-decoration: none;
				color: #0643B0;
			}
		}
	}
}
.menu-area {
	@media (max-width: 991px) {
		min-height: 60px;
	}
	&.sticky-menu {
		.right-menu {
			top: 22px;
		}
		.burger {
				margin-top: -44px!important;
		}
	}
}
.header-social {
	a {
		margin-left: 20px;

		width:32px;
		height: 32px;

		background: none;
		border-radius: 5px;

		display: flex;
		justify-content: center;
		align-items: center;
		svg {
			width: 24px;
		}
		&:hover {
			background: #0643B0;

			svg {
				path {
					fill: #fff;
				}
			}
		}
	}
}

#mobile-menu {
	ul {
		display: flex;

		margin: 0px;

		@media (min-width: 1351px) and (max-width: 1600px) {
			justify-content: center;
		}
		@media (min-width: 992px) and (max-width: 1350px) {
			justify-content: flex-end;
		}
		@media (max-width: 991px) {
			display: block;
		}
	}
}
.logo {

	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	img {
		max-width: 180px;
		width: 100%;
	}
	@media (min-width: 992px) and (max-width: 1350px) {
		img {
			max-width: 100px;
		}
	}
	@media (max-width: 991px) {
		width: 100%;
		position: unset;
		transform: unset;
		img {
			max-width: 122px;
		}
	}
}
.second-menu {
	position: unset;
}
.right-menu {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	a {
		font-family: Gilroy;
		display: flex;
		align-items: center;
		&:hover {
			text-decoration: none;
		}
		.text {
			padding: 0px;
			line-height: 120%;
		}
	}
	@media (min-width: 992px) and (max-width: 1350px) {
		display: none;
	}
	@media (max-width: 991px) {
		left: 60%;
		top: 8px;
		right: unset;
		transform: translateX(-50%);
		.text {
			strong {
				font-size: 18px;
				line-height: 22px;
			}
		}
	}
}

.main-menu {
	ul {

		li {
			padding: 20px 0px;
			a {
				text-align: left;
				padding: 0px;
				font-family: Gilroy;

				font-weight: 600;
				font-size: 16px;
				line-height: 19px;
				color: #002E5B;
				&:hover{
					text-decoration: none;
					color: #0641B0;
				}
				@media (max-width: 991px) {
					color: #fff;
					width: 100%;
					padding: 0 10px;
					&:hover {
						color: #fff;
					}
				}
			}
			&:hover {
				@media (max-width: 991px) {
					a {
						color: #fff;
					}
				}
			}
		}
	}
}

.burger {
	width: 30px;
	height: 22px;
	background: none;
	position: relative;
	span {
		position: absolute;
		top: 9px;
		right: 0px;
		width: 60%;
		height: 4px;
		border-radius: 5px;
		background-color: #002E5B;
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		right: 0px;
		top: 0px;
		height: 4px;
		width: 70%;
		border-radius: 5px;
		background-color: #002E5B;
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		right: 0px;
		bottom: 0px;
		height: 4px;
		width: 90%;
		border-radius: 5px;
		background-color: #002E5B;
	}
	&.active {
		&:before, &:after {
			display: none;
		}
		span {
			background: none;
			display: block;
			position: relative;
			left: 0px;
			top: 0px;
			height: 100%;
			width: 100%;
			&:before {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: 50%;
				height: 4px;
				width: 100%;
				border-radius: 5px;
				background-color: #002E5B;
				transform: rotate(45deg);
				transform-origin: center;
			}
			&:after {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: 50%;
				height: 4px;
				width: 100%;
				border-radius: 5px;
				background-color: #002E5B;
				transform: rotate(-45deg);
				transform-origin: center;
			}
		}
	}
	@media (max-width: 991px) {
		margin-top: -24px!important;
	}
}
