.team-area {
	padding: 40px 0 100px 0px;
	@media (max-widtH: 991px) {
		padding: 35px 0 60px 0;
	}

	.brd {
		border: 1px solid transparent;
	}
}
.testimonial-area {
	padding: 70px 0 80px 0;
	@media (max-width: 991px) {
		padding: 30px 0px 110px 0px;
	}
}

.section-title {

	h2 {
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 44px;
		color: #002E5B;
		@media (max-width: 991px) {
			font-size: 24px;
			line-height: 29px;
		}
	}
}

.single-team {
	padding: 0 10px;
	position: relative;
}

.team-info {
	left: 0px;
	right: 0px;
	span {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		color: #7A7177;
	}

}
.team__title {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #000000;

	margin-bottom: 7px;
}

.team-active .slick-arrow {
	width: 32px;
	height: 32px;
	background-color: #fff;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000000;

	font-size: 22px;
	line-height: 100%;
	&:focus {
		outline: none;
	}
}
