.slider-content {
	padding: 120px 0px;
	@media (max-width: 991px) {
		padding: 70px 0px;
	}
}
.slider-area {
	h1 {
		text-align: left;
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 64px;
		line-height: 77px;
		color: #FFFFFF;

		padding-bottom: 26px;
		@media (max-width: 991px) {
			font-size: 36px;
			line-height: 44px;
		}
	}
	ol {
		margin: 0px;
		padding-left: 24px;
		li {
			list-style: disc;
			text-align: left;
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 28px;
			color: #FFFFFF;

			margin-bottom: 14px;
			@media (max-width: 991px) {
				font-size: 18px;
				line-height: 21px;
			}
		}
	}
}
