.request-area {
	background: linear-gradient(180deg, #19AEC3 0%, #053EAF 100%);
	padding: 80px 0 140px 0px;

	@media (max-width: 991px) {
		padding: 50px 0px;
	}
	h2 {
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 44px;
	}
	p {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
	}

	input {
		border: 0px;
		background: #FFFFFF;
		border-radius: 0px 0px 0px 20px;

		padding: 12px 32px;
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		color: #7A7177;
	}
	button {
		border: 0px;
		background: #002E5B;
		border-radius: 0px 20px 20px 0px;
		padding: 12px 35px;

		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		color: #FFFFFF;

		text-transform: uppercase;
		&:focus {
			outline: none;

		}
	}
	@media (max-width: 991px) {
		input {
			width: 60%;
			max-width: 200px;
		}
		button {
			width: 40%;
			max-width: 150px;
			padding: 12px 10px;
			text-align: center;
		}
	}
}
