.calculator-area {
	padding: 70px 0 200px 0px;
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}
.calculator-area__img {
	width: 100%;
	max-width: 100%;
}

.calculator__item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	max-width: 170px;
	width: 100%;

	@media (max-width: 600px) {
		max-width: 345px;
	}
}
.calculator__title {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #000000;

	margin-bottom: 10px;
}
#sliderSum, #sliderPrecent, #sliderDate {
	width: 100%;
}
.ui-slider {
	border: 0px!important;
	height: 6px;
	background-color: #E5E5E5;
}
.ui-widget-header {
	background: #0641B0;
}
.ui-state-default, .ui-widget-content .ui-state-default {
	border-radius: 100%;
	top: -3px;
	width: 12px;
	height: 12px;

	background: #012DAB;
	border: 1px solid #0641B0;
	box-sizing: border-box;
	cursor: pointer;
	&:focus {
		outline: none;
	}
}

.calculate__result-title {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #2E2E2E;
}
.calculate__result-count {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}
