.advantage-area {
	padding: 70px 0px;
	background: #F1F4FF;
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}

.advantage-area__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	h3 {
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		color: #000000;
		margin-bottom: 20px;
	}
	p {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		color: #000000;
	}
}
